{{{header}}}
{{#tables}}

CREATE TABLE {{tableName}} (
{{#columns}}
    {{{definition}}}{{^last}},{{/last}}
{{/columns}}
{{#constraints}}
    {{{definition}}}{{^last}},{{/last}}
{{/constraints}}
);
{{/tables}}
{{#foreignKeys}}

ALTER TABLE {{table}}
    ADD CONSTRAINT {{name}} FOREIGN KEY ({{column}}) REFERENCES {{targetTable}} ({{targetColumn}});
{{/foreignKeys}}
