{{{header}}}
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <parent>
    <groupId>org.springframework.boot</groupId>
    <artifactId>spring-boot-starter-parent</artifactId>
    <version>{{springBootVersion}}</version>
    <relativePath/>
  </parent>

  <groupId>{{groupId}}</groupId>
  <artifactId>{{artifactId}}</artifactId>
  <version>0.0.1-SNAPSHOT</version>
  <name>{{name}}</name>

  <properties>
    <java.version>{{javaVersion}}</java.version>
  </properties>

  <dependencies>
{{#dependencies}}
    <dependency>
      <groupId>{{groupId}}</groupId>
      <artifactId>{{artifactId}}</artifactId>
{{#hasVersion}}
      <version>{{version}}</version>
{{/hasVersion}}
{{#hasScope}}
      <scope>{{scope}}</scope>
{{/hasScope}}
    </dependency>
{{/dependencies}}
  </dependencies>

  <build>
    <plugins>
      <plugin>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-maven-plugin</artifactId>
      </plugin>
    </plugins>
  </build>
</project>
